* {
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
}
#main-header {
    width: 75%;
    margin: 0 auto;
    padding-right: 15px;
}

.border-div {
    border: 2px solid #A2A2A6;
    margin: 15px;
    width: 75%;
    margin: 15px auto;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#bottom-padding {
    padding-bottom: 20px;
}

.dimension {
    height: 100px;
    width: 31%;
    display: inline-block;
    text-align: center;
    margin-bottom: 30px;
}

#cool-blue {
    background-color: #2d5dcc;
    color: white;
}

#pink {
    background-color: #d957d9;
    color: black;
}

#mint-green {
    background-color: #4fe0b0;
    color: black;
}

#beige {
    background-color: #efd9ca;
    color: black;
}


.title-font {
    width: 45%;
    display: inline-block;
}

#title-font-s {
    text-decoration: underline;
    font-family: 'Source Code Pro';
    font-size: 20px;
}

#s-regular {
    font-family: 'Source Code Pro';
}

#s-bold {
    font-family: 'Source Code Pro';
    font-weight: bold;
}

#s-italic {
    font-family: 'Source Code Pro';
    font-style: italic;
}

#title-font-n {
    text-decoration: underline;
    font-family: 'Nunito Sans';
    font-size: 20px;
}

#n-regular {
    font-family: 'Nunito Sans';
}

#n-bold {
    font-family: 'Nunito Sans';
    font-weight: bold;
}

#n-italic {
    font-family: 'Nunito Sans';
    font-style: italic;
}

#title-font-p {
    text-decoration: underline;
    font-family: 'Poppins';
    font-size: 20px;
}

#p-regular {
    font-family: 'Poppins';
}

#p-bold {
    font-family: 'Poppins';
    font-weight: bold;
}

#p-italic {
    font-family: 'Poppins';
    font-style: italic;
}

